#logo{

    background-color: orange;
}

#header{
    background-color: blue;


}
#body{
    background-color:red;
 

}
#sidebody1{
    background-color: green;
   

}
#sidebody2{
    background-color: yellow;
   

}

#sidebody3{
    background-color:gold;
   

}


#subfooter1{
    background-color: rgb(68, 27, 39);
   

}
#subfooter2{
    background-color: olive;
   

}
#subfooter3{
    background-color: rgb(175, 175, 175);
   

}
#footer1{
    background-color: rgb(2, 2, 2);
   

}
#footer2{
    background-color: rgb(196, 29, 29);
   

}
#footer3{
    background-color: rgb(49, 3, 3);
   

}
#footer4{
    background-color: rgb(194, 162, 162);
   

}
#footer5{
    background-color: rgb(10, 10, 10);
   

}
#footer6{
    background-color: rgb(37, 8, 8);
   

}
#bottom1{
    background-color: rgb(207, 57, 57);
   

}
#bottom2{
    background-color: rgb(175, 175, 175);
   

}
#bottom3{
    background-color: rgb(20, 20, 20);
   

}
